<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.java.controller.Dao.UserDao">
    <select id="queryAllUsers" resultType="com.mk.java.controller.entity.User">
        select userguid,username from t_user  limit 5
    </select>
</mapper>